
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
nav {
  display: block;
}

body {
  background-color: #f0e6ff;
  /* Lavanda claro */
  color: #333;
  /* Gris oscuro */
  font-family: Arial, sans-serif;
  /* Elegant sans-serif font */
  background: url('images/hj.jpg')no-repeat;
  background-size: cover;
  background-position: absolute;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
th,
td {
  padding: 10px;
  border: 1px solid transparent; /* Gray border */
  text-align: left;
}

th {
  background-color: #444444; /* Even darker for headers */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 2px solid #ff0000;
  /* Red underline */
  padding-bottom: 5px;
}

a {
  color:  #19ced7;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #002fff;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.form-control {
  background-color: #f3eeee;
  /* Darker input background */
  color: #070707;
  /* White text color */
  border: 1px solid #808080;
  /* Gray border */
  padding: 5px;
  border-radius: 5px;
  /* Rounded corners */
}

.btn-primary,
.btn-danger,
.btn-success,
.btn-info {
  background-color:#44b5d8;
  /* Transparent buttons */
  color: #0c0c0c;
  /* Light text color */
  border: 1px solid #000000;
  /* Gray border */
  padding: 5px 10px;
  border-radius: 5px;
  /* Rounded corners */
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover {
  background-color: #ff6600;
  /* Red background on hover */
  color: #fff;
  /* White text color on hover */
}

.btn-danger {
  border-color: #ff0000;
  /* Red border for danger button */
}

.btn-danger:hover {
  background-color: #990000;
  /* Darker red on hover */
}

.btn-success {
  border-color: #00ff00;
  /* Green border for success button */
}

.btn-success:hover {
  background-color: #00cc00;
  /* Darker green on hover */
}

.btn-info {
  border-color: #ee00ff;
  /* Blue border for info button */
}

.btn-info:hover {
  background-color: #ee00ff;
  /* Darker blue on hover */
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

