body {
    background-color: #f0e6ff; /* Lavanda claro */
    color: #333; /* Gris oscuro */
    font-family: Arial, sans-serif;
}

h1, h3 {
    text-align: center;
    margin-top: 20px;
    color: #9933cc;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio uniforme entre las cards */
    margin-top: 20px;
}

.card {
    width: 150px; /* Cards más pequeñas */
    height: 200px; /* Ajustar altura */
    border: 1px solid transparent; /* Borde invisible */
    border-radius: 10px;
    background-color: transparent; /* Fondo transparente */
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 60px; /* Imágenes más pequeñas */
    margin: 20px auto;
}

.card-body {
    margin-top: 10px;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    color: #9933cc;
}

