* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, lato;
}


header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 50px;
}
.logo {
    height: var(--altura_header); /* Ajusta la altura al tama침o de la barra */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.logo-img {
    max-height: 80%; /* Asegura que el logo ocupe un 80% del alto disponible */
    max-width: 20%; /* No excede el ancho del contenedor */
    object-fit: contain; /* Ajusta el logo sin distorsionar su proporci칩n */
}

.bars {
    display: none;
}

.nav-bar ul {
    display: flex;
    margin-right: auto;
}

.nav-bar ul li a {
    display: block;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: yellow;
}

.nav-bar ul li a.active {
    color: black;
    background-color: yellow;
}

.nav-bar .user-info {
    display: flex;
    align-items: center;
    color: white;
    margin-left: auto; /* Para que se alinee a la derecha */
}

.nav-bar .user-info h5 {
    margin-right: 10px;
}

.nav-bar .user-info a {
    text-decoration: none;
    padding: 5px;
}

.nav-bar .user-info img {
    cursor: pointer;
}

/* Media Queries para dispositivos peque침os */
@media (max-width: 900px) {
    header {
        padding: 10px;
    }

    .bars {
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }

    /* En dispositivos peque침os, el nombre de usuario y el icono se colocan en la parte superior */
    .nav-bar .user-info {
        order: 2;
        margin-top: 20px;
        justify-content: center;
    }
}

.hidden-table {
    display: none;
}

.show-table {
    display: table;
}

.col + .tu-clase {
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #161111;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #f30101;
    text-align: left;
}

th {
    background-color: #1212f3;
}

